{% extends "@App/layout.html.twig" %}
{% block title %} {{ parent() }} Mon classeur {% endblock %}
{% block body %}
    <h1>Mon classeur</h1>

    <hr>

    <ul>
        {% if bookmarkSlugs|length > 0 %}
            {% for bookmarkSlug in bookmarkSlugs %}

            <li><a href="{{ path('viewpost', {'slug': bookmarkSlug}) }}"> <i class="fas fa-book-open"></i> {{ bookmarkSlug }}</a></li>

            {% endfor %}
        {% else %}
            <h4>Vous n'avez enregistré aucun cours pour l'instant</h4>
        {% endif %}
    </ul>

{% endblock %}