{% extends"@App/layout.html.twig" %}
{% block title %} {{ parent() }} Mon compte {% endblock %}
{% block body %}
    <h1>Changer mot de passe</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <br>
    <a href="{{ path('profile') }}"><i class="fas fa-user-circle"></i> Revenir à mon compte</a>
{% endblock %}